<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Expenses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
    <aside>
        <%- include('../partials/_navbar.ejs') %>
    </aside>


    <main>
        <!-- start modal here -->
        <section class="editExp-modal hide-editExp">
            <div class="flex">
                <h3>Edit Expenses</h3>
                <button class="btn-close editExp-close">⨉</button>
            </div>

            <form class="format-add" action="/users/<%= user._id %>/expenses/<%= expense._id %>?_method=PUT" method="POST">

                <label for="description">Description:</label>
                <input type="text" name="description" id="description" value="<%= expense.description %>">

                <label for="date">Date:</label>
                <input type="date" name="date" id="date" value="<%= date %>">

                <label for="amount">Amount:</label>
                <input type="number" name="amount" id="amount" value="<%= expense.amount %>">

                <button class="submit-btn" type="submit">Submit</button>
            </form>

        </section>
        <div class="overlay hide-editExp"></div>
        <!-- end of modal -->


        <div class="flex top-container">
            <div>
                <h2>My Expenses</h2>
                <p>Track your expenses here!</p>
            </div>
        </div>

        <div class="mainIndexExp-container">

            <div class="show-card">
                <p class="desc"><%= expense.description %></p>
                <p>Purchase date: <strong><%= date %></strong></p>
                <p>Amount: <strong>$<%= expense.amount %>.00</strong> </p>

                <div class="flex-btns">

                    <button class="editExp-open">Edit</button>
    
                    <form action="/users/<%= user._id %>/expenses/<%= expense._id %>?_method=DELETE"
                        method="POST">
                           <button class="deleteBtn" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>


    </main>

    <footer>
    
    </footer>
</body>
</html>