<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Assignments</title>
    <script defer src="/js/app.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
    <aside>
        <%- include('../partials/_navbar.ejs') %> 
    </aside>

    <main>
        <!-- will be used for a modal -->
        <section class="modal hidden">
            <div class="flex">
                <h3>Add Assignment</h3>
                <button class="btn-close">⨉</button>
            </div>
             

             <form class="format-add" action="/users/<%= user._id %>/subjects" method="POST">
     
             <!-- data for subjects -->
             <label for="name">Subject:</label>
             <input list="predefined-subjects" name="name" id="name" required>
             <datalist id="predefined-subjects">
                 <option value="Math">
                 <option value="Science">
                 <option value="Physical Education">
                 <option value="Art">
                 <option value="Foreign Language">
                 <option value="History">
                 <option value="Music">
                 <option value="Computer">
             </datalist>
     
             <!-- data for assignment -->
             <label for="title">Name:</label>
             <input type="text" name="title" id="title" required>
     
             <label for="notes">Notes:</label>
             <textarea name="notes" id="notes"></textarea>
     
             <div>

                 <label for="dueDate">Due date:</label>
                 <input type="date" name="dueDate" id="dueDate" required>
         
                 <label for="time">Time:</label>
                 <input type="time" name="time" id="time">
             </div>
     
             <label for="progress">Progress:</label>
             <select name="progress" id="progress" required>
                 <option value="Not yet Started">Not yet Started</option>
                 <option value="In progress">In progress</option>
                 <option value="For checking">For checking</option>
                 <option value="Done">Done</option>
             </select>
     
             <label for="link">Links:</label>
             <input type="text" name="link" id="link">
     
             <label for="grade">Grade:</label>
             <input type="number" name="grade" id="grade">
     
             <div>
                 <button class="submit-btn" type="submit">Submit</button>
             </div>
             </form> 
     
        </section>
        <div class="overlay hidden"></div>
    
        <!-- end modal -->
     
        <div class="flex top-container">
            <div>
                <h2>Welcome, <%= user.firstName %></h2>
                <p>Here are your assignments!</p>
            </div>

    
             
                <button class="addBtn btn-open">
                    <i class="fa-solid fa-plus"></i>
                    Add Assignment
                </button>
            
        </div>
     

        <div class="mainIndex-container">

        
            <!-- display all tasks that are not yet completed -->
            <ul>
                <% let assignmentNotDone = false %>
    
                
                <% subject.forEach(subject => { %>
    
                        <h3><%= subject.name %></h3>
    
         
                    <div class="flex">
                        <!-- if a subject has assignments and are not done yet -->
                        <% if (subject.assignments.length > 0) { %>
       
                           <% subject.assignments.forEach(assignment => { %>
       
                               <% if (assignment.progress !== 'Done') { %>
                                   
                                   <a href="/users/<%= user._id %>/subjects/<%= subject._id %>/<%= assignment._id %>/edit">
                                     
                                       <div class="assignment-card 
                                       <% if (assignment.progress === 'Not yet Started') { %>
                                            not-started
                                        <% } else if (assignment.progress === 'In progress') { %>
                                            in-progress
                                         <% } else if (assignment.progress === 'For checking') { %>
                                            for-checking
                                       <% } %>
                                       jump">
                                           <p class="title"><%= assignment.title %></p>
                                           <p><%= assignment.dueDate.toDateString() %></p>
                                           <p><%= assignment.time %></p>
                                           <div class="spacer"></div>
                                           <p class="progress"><%= assignment.progress %></p>
                                       </div>
   
                                   </a>
       
                                   <% assignmentNotDone = true %>
                               <% } %>
       
                           <% }) %>
                       
                           <!-- if all assignments are done -->
                           <% if (!assignmentNotDone) { %>
                            <strong>You are all caught up!</strong>
                           <% } %>
       
                           <!-- end of if statement -->
                           <% } 
                           
                           else { %>
                             <p>You have no assignments due!</p>
                           <% } %>
                    </div>
        
                <% }) %>
            </ul>
        </div>
    </main>


    
    <footer>
        footer
    </footer>

</body>
</html>