<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= assignment.title %> </title>
</head>
<body>

    <aside>
        <%- include('../partials/_navbar.ejs') %>
    </aside>

    
    <h1><%= subject.name %></h1>

        <p>Title: <%= assignment.title %></p>
        <p>Notes: <%= assignment.notes %></p>
        <p>Due Date: <%= assignment.dueDate.toDateString() %></p>
        <p>Time: <%= assignment.time %></p>
        <p>Progress: <%= assignment.progress %></p>
        <p>Link: <%= assignment.link %></p>
        <p>Grade: <%= assignment.grade %></p>


        <a href="/users/<%= user._id %>/subjects/<%= subject._id %>/<%= assignment._id %>/edit">Edit</a>

        <form action="/users/<%= user._id %>/subjects/<%= subject._id %>/<%= assignment._id %>?_method=DELETE"
         method="POST">
            <button type="submit">Delete Assignment</button>
        </form>

        <form action="/users/<%= user._id %>/subjects/<%= subject._id %>?_method=DELETE"
         method="POST">
            <button type="submit">Delete Subject</button>
        </form>

</body>
</html>