<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Done Assignments</title>
    <script defer src="/js/app.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <aside>
        <%- include('../partials/_navbar.ejs') %>
    </aside>

    <main>
        <div class="flex top-container">
            <div>
                <h2>Done Assignments</h2>
                <p><%= user.firstName %>, here are your finished assignments!</p>
            </div>
        </div>

        <div class="mainIndex-container">
            <ul>
    
                <% subject.forEach(subject => { %>
        
                    <!-- finds if a subject has progress done -->
                    <% hasDone = subject.assignments.find(assignment => assignment.progress === 'Done') %>
        
                    <div>
                        <!-- if it has, only those subjects will be displayed -->
                        <% if (hasDone) { %>
                            <h3><%= subject.name %></h3>
            
                            <% subject.assignments.forEach(assignment => { %>
            
                                <% if (assignment.progress === 'Done') { %>
                                    
                                    <a href="/users/<%= user._id %>/subjects/<%= subject._id %>/<%= assignment._id %>/edit">
                                        <div class="assignment-card">
                                            <p>Title: <%= assignment.title %></p>
                                            <p>Due Date: <%= assignment.dueDate.toDateString() %></p>
                                            <p>Time: <%= assignment.time %></p>
                                            <p>Progress: <%= assignment.progress %></p>
                                        </div>
                                    </a>
                                <% } %>
                            <% }) %>
            
                        <% } %>
                    </div>
                <% }) %>
            </ul>

        </div>

    </main>

    <footer>
        footer
    </footer>
</body>
</html>