<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Done Assignments</title>
    <script defer src="/js/app.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <aside>
        <%- include('../partials/_navbar.ejs') %>
    </aside>

    <main>
        <div class="flex top-container">
            <div>
                <h2>Done Assignments</h2>
                <p><%= user.firstName %>, here are your finished assignments!</p>
            </div>
        </div>

        <div class="mainIndex-container">
            <ul>
    
                        <% subject.forEach(subject => { %>
        
                            <% hasDone = subject.assignments.find(assignment => assignment.progress === 'Done') %>
                    
                                    <% if (hasDone) { %>
                                        <h3><%= subject.name %></h3>
                        
                                        <div class="flex">

                                            <% subject.assignments.forEach(assignment => { %>
                                    
                                                    <% if (assignment.progress === 'Done') { %>
                                                        
                                                        <a href="/users/<%= user._id %>/subjects/<%= subject._id %>/<%= assignment._id %>/edit">
                                                            <div class="assignment-card done jump" draggable="true">
                                                                <p class="title"><%= assignment.title %></p>
                                                                <p>
                                                                    <%= assignment.dueDate.toDateString().split(' ')[0] %>
                                                                    <%= assignment.dueDate.toISOString().split('T')[0] %>
                                                                </p>
                                                                <p><%= assignment.time %></p>
                                                                <div class="spacer"></div>
                                                                <p><%= assignment.progress %></p>
                                                            </div>
                                                        </a>
                                                    <% } %>                        
                                            <% }) %>
                                        </div>
                        
                                    <% } %>
                        <% }) %>
            </ul>

        </div>

    </main>

    <footer>
        
    </footer>
</body>
</html>