<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
    <script defer src="/js/app.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>
    
    
    <aside>
        <%- include('../partials/_navbar.ejs') %>
    </aside>

    <main>

        <div class="top-container">
            <div>
                <h2>My Grades</h2>
                <p>Note that average grades are not final grade!</p>
            </div>

        </div>


        <div class="mainIndex-container">

    
            <ul>
                
                <% subject.forEach(subject => { %>
                    
                    <!--   a function for getting the average grade  -->
                    <%   function computeAverage(assignment){
                        let total = 0
                        if (assignment.length === 0){
                            return 0
                        } else {
                            assignment.forEach(assignment => {
                                total += assignment.grade
                            })
                    
                            return total / assignment.length
                    
                        }
                    }  %>

                    <h2><%= subject.name %></h2>


                       <table class="table-container">
                           <thead>
                               <tr>
                                   <th>Title</th>
                                   <th>Due Date</th>
                                   <th>Progress</th>
                                   <th>Grade</th>
                                   <th>Actions</th>
                               </tr>
                           </thead>
    
                           <tbody>
    
                           <% subject.assignments.forEach(assignment => { %>
                               <tr>
                                   <td><%= assignment.title %></td>
                                   <td><%= assignment.dueDate.toLocaleDateString()%></td>
                                   <td><%= assignment.progress %></td>
                                   <td><%= assignment.grade %></td>

                                   <td><a class="view-btn" href="/users/<%= user._id %>/subjects/<%= subject._id %>/<%= assignment._id %>/edit">View</a></td>
                               </tr>
                           <% }) %>
    
                           <tr>
                                <td colspan="3"><strong>Average Grade</strong></td>
                                <td><%= computeAverage(subject.assignments).toFixed(2)%></td>
                                <td></td>
                            </tr>

                           </tbody>
                        </table>
                <% }) %>
            </ul>
        </div>

    </main>
    


    <footer>
        footer
    </footer>
 
</body>
</html>