<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
    <script defer src="/js/app.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
    
    <aside>
        <%- include('../partials/_navbar.ejs') %>
    </aside>

    <main>

        <div class="top-container">
            <div>
                <h2>My Grades</h2>
                <p>Note that grades are not final!</p>
            </div>

        </div>


        <div class="mainIndex-container">

    
            <ul>
                <% subject.forEach(subject => { %>
                    
                    <h2><%= subject.name %></h2>

                       <table class="table-container">
                           <thead>
                               <tr>
                                   <th>Title</th>
                                   <th>Progress</th>
                                   <th>Grade</th>
                                   <th>Actions</th>
                               </tr>
                           </thead>
    
                           <tbody>
    
                           <% subject.assignments.forEach(assignment => { %>
                               <tr>
                                   <td><%= assignment.title %></td>
                                   <td><%= assignment.progress %></td>
                                   <td><%= assignment.grade %></td>

                                   <td><a href="/users/<%= user._id %>/subjects/<%= subject._id %>/<%= assignment._id %>/edit">View</a></td>
                               </tr>
                           <% }) %>
    
                           </tbody>
    
    
                       </table>
      
                        
                   
                <% }) %>
            </ul>
        </div>

    </main>
    
    <footer>
        footer
    </footer>
</body>
</html>