<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
    <script defer src="/js/app.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
    
    <aside>
        <%- include('../partials/_navbar.ejs') %>
    </aside>

    <main>
        <h1>My Grades</h1>

        <ul>
            <% subject.forEach(subject => { %>
                
                <h2><%= subject.name %></h2>

               
                    
                    <table>
                        <tr>
                            <th>Title</th>
                            <th>Link</th>
                            <th>Progress</th>
                            <th>Grade</th>
                        </tr>

                        <% subject.assignments.forEach(assignment => { %>
                         
                            <tr>
                                <td><%= assignment.title %></td>
                                <td><%= assignment.link %></td>
                                <td><%= assignment.progress %></td>
                                <td><%= assignment.grade %></td>
                            </tr>

                        <% }) %>

                    </table>
               
            <% }) %>
        </ul>

    </main>
    
    <footer>
        footer
    </footer>
</body>
</html>